@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    font-family: 'Poppins', sans-serif;
}
::-webkit-input-placeholder {
    font-size: 13px;
  }
  ::-moz-placeholder {
    font-size: 13px;
  }
  :-ms-input-placeholder {
    font-size: 13px;
  }
  ::placeholder {
    font-size: 13px;
  }
  /* .loader {
    width: 100%;
    height: 100vh;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 11000000000 !important;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
} */
.loader_wrap{
    position: fixed;
    background: #63AF31;
    height: 100vh;
    width: 100%;
    z-index: 11000000000 !important;
  }
  .loader {
    color: #ffffff;
    font-size: 90px;
    text-indent: -9999em;
    overflow: hidden;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    margin: 0 auto;
    position: relative;
    top:50%;
    -webkit-animation: load6 1.7s infinite ease, round 1.7s infinite ease;
    animation: load6 1.7s infinite ease, round 1.7s infinite ease;
  }
  @-webkit-keyframes load6 {
    0% {
      box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
    5%,
    95% {
      box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
    10%,
    59% {
      box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
    }
    20% {
      box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
    }
    38% {
      box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
    }
    100% {
      box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
  }
  @keyframes load6 {
    0% {
      box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
    5%,
    95% {
      box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
    10%,
    59% {
      box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
    }
    20% {
      box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
    }
    38% {
      box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
    }
    100% {
      box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
  }
  @-webkit-keyframes round {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @keyframes round {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  
  
.athletes-card .card-head{
    background-repeat: no-repeat;
    background-size: cover;
    background-image: center;
    border-radius: 8px;
}
.athletes-card .social-box{
    border: 1px solid #EBEBEB;
    border-radius: 8px;
    padding: 5px;
}
.ath-sec h6{
    font-size: 16px;
    color: black;
    font-weight: 500;
}
.ath-sec p{
    font-size: 14px;
    font-weight: 300;
    color: #8D8D8D !important;
}
.ath-sec .ath-categori{
    color: #282828 !important;
}
.ath-sec .categori p{
    font-size: 13px !important;
    color: #C3C3C3 !important;
}
.social-box p a{
    font-weight: 500;
    font-size: 15px;


    color: #3F89DF;
}
.job-sec h6{
    color: #000000;
    font-size: 16px;
    font-weight: 500;

}
.job-sec img{
    max-width: 60px;
    padding-right: 10px;
}


/* -----------------------------------------popupop---------------------------------- */

/* popup */
.popup-overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    /* transition: opacity 500ms; */
    visibility: hidden;
    opacity: 0;
    z-index: 9999 !important;
    overflow-y: scroll;
  }
  .popup-overlay:target {
    visibility: visible;
    opacity: 1;
  }

  .popup {
    margin: 50px auto;
    background: #fff !important;
    width: 50%;
    position: relative;
    /* transition: all 5s ease-in-out; */
    z-index: 999 !important;
    padding: 50px;
    border-radius: 8px;
  }

   .popup .close {
    position: absolute;
    top: 5px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #F82746 !important;

  }
  .comp-profile-box{
    border: 1px solid #F82746;
    padding: 15px;
    margin-bottom: 10px;
    background-color: #FAFAFA;

    border-radius: 10px;
  }
  .comp-profile-box h6{
    font-size: 18px;
    font-weight: 600;
    color: black;
  }
  .popup-btn-red{
    color: white !important;
    background-color:#F82746 !important;
    width: 120px;

  }
  .popup-btn-red:hover{
    color:#F82746 ;
    background-color: transparent ;
    border: 1px solid #F82746 ;
  }


  /* popup end */

/* dashboard-athelete proflie */
.title{
    font-size: 20px;
    font-weight: bold;
    color: black;
}
.sub-title{
    font-size: 16px;
    font-weight: 500;
    color: black;
}
.ath-profile{
    background-color: white;
    padding: 2%;
    border-radius: 8px;
}

.ath-profile p{
    font-size: 16px;
    color: #8D8D8D;
    margin-bottom: 2px;
}
.follower-views{
    border: 0.5px solid #63AF31 ;
    padding: 15px;
    border-radius: 4px;
}
.rating-no{
    color: #63AF31 !important;
}

.Social-media a{
    margin-right: 15px;
}
.social-followers{
    background-color: white;
    border-radius: 8px;
    padding: 15px 10px;
}
.social-followers-btn{
    padding: 12px;
    border-radius: 8px;
    background-color: #F5F5F5;
    color: #C3C3C3;
    border: 1px solid #63AF31;

}
.social-followers-btn:hover{

    background-color: transparent;
    color:#63AF31;
    border: 1px solid #63AF31;

}

/* nav-tabs */
.nav-tabs{
    border: none !important;
}
.nav-item{
    margin-right: 15px;
    margin-bottom: 10px;
}
.nav-item button{
    border: none !important;
    border-radius: 8px !important;
    font-size: 14px;
    font-weight: 400;
}
.nav-tabs .nav-link{
    color: #C3C3C3 !important;
    background-color: white !important;
}
.nav-tabs .nav-link.active{
    color: white !important;
    background-color: #63AF31 !important;
}
/* post-job-tab */
.profile-pic-update, .cover-pic-update{
    background-color: white;
    border-radius: 8px;
    padding: 2%;
}
.profile-pic-update  .date, .cover-pic-update  .date{
    color: #8D8D8D;
    font-size: 14px;
    font-weight: 300;

}
.profile-pic-update  p, .cover-pic-update  p{
    font-size: 14px;
    font-weight: 500;
    color: #5B5B5B;
}
.bio-graphy{
    background-color: white;
    padding: 2%;
    border-radius: 8px;
}

/* resources-tab */
.resources-heading h1{
color: #2B2D50;
font-size: 28px;
font-weight: 600;
}
.resources-heading h2{
    color: #2B2D50;
    font-size: 24px;
    font-weight: 600;
    }
.resources-heading p{
font-size: 18px;
font-weight: 300;
color: #8D8D8D;
}
.download-athlete-card{
    background-color: white;
    border-radius: 8px;
}
.download-athlete-card:hover{
    border: 1px solid #63AF31;
}
.download-athlete-img{
    height: 250px;
    object-fit: cover;
    border-radius: 8px;
}
.download-athlete-title{
    color: #000000;
    font-size: 16px;
    font-weight: bold;
}
.download-btn{
    background-color: #63AF31;
    color: white;
    width: 182px;
    border-radius: 60px;
    font-size: 16px;
}
.download-btn:hover{
    border: 1px solid #63AF31;
    color: #63AF31;
}
/* .download-btn .download-icon{
    position: relative;
    margin-left: 50px;
} */


/* sponser-pro-tab */

.total-jobs{
    color: white !important;
    background-color: #263238 !important;
    margin-left: 15px;
    border-radius: 8px;
    box-shadow: 0px 3px 8px rgba(216, 216, 216, 0.18);
    font-size: 14px;
    font-weight: 400;
}
.posted-jobs h1{
    color: #DADADA;
    font-size: 34px;
    font-weight: 600;
    text-transform: uppercase;
   padding: 5% 5% 2% 5%;

}
.job-count{
    background-color: #FAFAFA;
   padding: 2px 10px;
    border-radius: 40px;
    font-weight: 300;
    margin-left: 10px;
}

.nav-tabs .nav-link.active .job-count{
    color:#63AF31  !important;
}
.nav-tabs .nav-link{
    box-shadow: 0px 3px 8px rgba(216, 216, 216, 0.18);


}
.brands-posted-job a{
    font-size: 14px;
    font-weight: 300;


}
.brands-posted-job .pending{
    color: #00D2FF;
}
.brands-posted-job .invite-athletes, .brands-posted-job .view-applications{
    text-decoration: underline;
    color: #FF5800;

}
.brands-posted-job .job-name, .invited{
    color: black;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 1px;

}
.brands-posted-job .date{
    font-size: 14px;
    font-weight: 300 !important;
    color: #8D8D8D;
}
.brands-posted-job .dropdown-menu .dropdown-item{
    padding: 2px 10px;
}
.brands-posted-job .dropdown-menu{
    background-color: #F3F3F3;
}
.brands-posted-job .dropdown-item{
    color: #777777;

}
.brands-posted-job .dropdown-item:hover{
    color: #63AF31;
    background-color: transparent;

}
/* view profile */
.bulk-pay-btn{
    background: rgba(255, 76, 0, 0.25);
border: 1px solid #FF4C00;
border-radius: 8px;
color:#FF4C00;

}
.bulk-pay-btn:hover{
    background: transparent;
border: 1px solid #FF4C00;
border-radius: 8px;
color:#FF4C00;

}
.posted-job-review #management select{
    background-color: white !important;
}
.view-detail-athletes-cards{
    background-color: white;
    border-radius: 10px;
    padding: 15px;
}
.view-detail-athletes-cards:hover{
    border: 1px solid #63AF31;
}
.view-detail-athletes-cards .date, .view-detail-athletes-cards p{
    font-weight: 300 !important;
    font-size: 14px !important;
    color: #8D8D8D;
}
.view-detail-athletes-cards h6{
    font-size: 16px;
    font-weight: 500;
    color: black;
}
.view-detail-athletes-cards a{
    font-size: 14px;
    font-weight: 400;
}
#invite-job .search-input{
    background-color: #F5F5F5;

}



/* post-job-popup */
#post-job h6{
    color: #63AF31;
    font-size: 20px;
    font-weight: 700;
   }
   #post-job h2{
    font-size: 24px;
    font-weight: 700;
   }
   #post-job p{
    font-size: 14px;
    font-weight: 400;
    color: #C4C4C4;
    text-transform: capitalize;
   }
.post-job-popup{
    border:  1px solid #63AF31 ;
    border-radius: 8px;
    padding: 10px;
    background: #FAFAFA;
}
.close-btn{
    border: 1px solid #FB003E;
    color: #FB003E;
    border-radius: 60px;
    margin-left: 20px;
    width: 250px;
}
.close-btn:hover{
    background-color:#FB003E ;
    color: white;
}
.Continue-btn{
    border: 1px solid #63AF31;
    background-color: #63AF31;
    color: white;
    border-radius: 60px;
    margin-left: 20px;
    width: 250px;
}
.Continue-btn:hover{
    border: 1px solid #63AF31;
    color: #63AF31;

}
.border-green{
    background-color: white;
    border: 1px solid #63AF31;
    border-radius: 8px;
    padding-left: 2%;
    padding-right: 2%;
}
.deliverable a{
    background-color: rgb(81, 204, 0, 0.25);
    color: #63AF31;
    height: 42px;
   padding: 8px;
    border: 1px solid #63AF31;
border-radius: 8px;
font-weight: 500;
font-size: 16px;
}
.exclusive a{
    background-color: rgb(81, 204, 0, 0.25);
    color: #63AF31;
    padding: 10px;

    border: 1px solid #63AF31;
border-radius: 8px;
font-weight: 500;
font-size: 16px;
}
.next-step-btn{
    background-color: #63AF31;
    color: white;
    margin-top: 20px;
    font-size: 16px;
    font-weight: 500;
    display: flex;
    align-items: center;
    border-radius: 60px;
    max-width: 200px;
    width: 200px;
}
.next-step-btn:hover{
    border: 1px solid #63AF31 ;
    color: #63AF31;
}
.back-btn{
    border: 1px solid #63AF31;
    color: #63AF31;
    margin-top: 20px;
    font-size: 16px;
    font-weight: 500;
    display: flex;
    align-items: center;
    border-radius: 60px;
    margin-right: 15px;
    max-width: 200px;
    width: 200px;
}
.back-btn:hover{
    background-color: #63AF31;
    color: white;
}
.posted-jobs label{
    color:#606060;
    font-size: 18px;
    font-weight: 500;

    padding-bottom: 10px;
}
.posted-jobs p{
    color: #C3C3C3;
    font-size: 18px;
    font-weight: 400;
}
.posted-jobs select{
    background-color: white !important;
    height: 45px;
    box-shadow: 0px 2px 6px rgba(185, 185, 185, 0.18);
border-radius: 8px;
font-size: 16px !important;
color: #C3C3C3 !important;
}
.posted-jobs ul li{
    color: #C3C3C3;
    font-size: 18px;
}
.no-of-athlets{
    background-color: white;
    box-shadow: 0px 2px 6px rgba(185, 185, 185, 0.18);
border-radius: 8px;
padding: 10px;
}
/* misc */
.misc h3{
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;

}
.add-ques-btn{
    background-color: #E7B900;
    color: white;
}
.add-ques-btn:hover{
    border: 1px solid  #E7B900;
    color:  #E7B900;
}
/* visibilty */
.visibility .form-check{
    background-color: white;
    padding: 5px;
    box-shadow: 0px 2px 6px rgba(185, 185, 185, 0.18);
border-radius: 8px;
}
.visibility select{
    background-color: white !important;
    height: 45px;
    box-shadow: 0px 2px 6px rgba(185, 185, 185, 0.18);
border-radius: 8px;
font-size: 16px !important;
color: #C3C3C3 !important;
}
.visibility h6{
    font-size: 18px;
    font-weight: 600;
    color: black;

}
.visibility label{
    color:#606060;
    font-size: 18px;
    font-weight: 500;
    padding-top: 10px;
    padding-bottom: 10px;
    text-transform: capitalize;
}
/* posted-job-review */
.brands-profile-cover{
   height: 40vh;
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
   border-radius: 12px;
   display: flex;
   align-items: end;
   justify-content: center;
   padding-bottom: 10px;
}
.posted-job-review p{
    color: #8D8D8D;
    font-weight: 300 !important;
    font-size: 16px;
}
.brands-athlete-info{
    background: rgba(232, 232, 232, 0.4);
opacity: 0.8;
backdrop-filter: blur(7px);
border-radius: 6px;
width: fit-content;
padding: 0 20px 0 20px;
}
.brands-profile-pic{
    margin-top:-35px;
}
.brands-athlete-info h6{
    font-size: 20px;
    font-weight: 600;
    color: white;
    text-transform: uppercase;
}
.brands-athlete-info p{
    color: white;
    font-size: 14px;
    font-weight: 300;
}
.left-green-border{
    border-left: 4px solid #63AF31;
    background-color: white;
    border-radius: 0px 8px 8px 0px;
    box-shadow: 0px 2px 6px rgba(185, 185, 185, 0.18);
    padding: 15px;
    padding-right: 20px;
    margin-bottom: 15px;
}
.brands-review-headings{
    font-size: 20px;
    color: #000000;
    font-weight: bold;
}

/* overview */
.review-brands-title{
    color: black !important;
    font-size: 14px;
    font-weight: bold ;

}
.review-brands-description{
    color: #CECECE !important;
    font-size: 14px !important;
}
/* atheletes skills */
.athlete-skills{
    background-color: #F8F9F8 !important;
    border-radius: 6px;
    color: #C3C3C3 ;
    font-weight: lighter !important;
}
/* exclusive-sec */
.exclusive-sec .btn-check:checked+.btn{
    background-color: #63AF31 !important;
    color: white !important;
    border: none !important;
    outline: none !important;
    box-shadow: none !important;
}
.exclusive-sec .btn-secondary{
    background-color: rgb(81, 204, 0, 0.25) !important;
    color: #63AF31 !important;
    border: 1px solid #63AF31 !important;
}

/* no-of-athe */
.no-of-athe{
    background-color: #F8F9F8 !important;
    border-radius: 6px;
    color: #C3C3C3 ;
    font-weight: lighter !important;
}
/* who-see-job */
.seeing-athletes{
    background-color: white;
    margin-left: 20px;
    box-shadow: 0px 2px 6px rgba(185, 185, 185, 0.18);
border-radius: 8px;
}
.seeing-athletes h6{
    text-transform: uppercase;
    color: black;
}
/* brands-accept-agreement */
.brands-accept-agreement{
    background: #FFFFFF;
    box-shadow: 0px 2px 6px rgba(185, 185, 185, 0.18);
    border-radius: 8px;
}
.brands-accept-agreement p{
    color: black;
    font-size: 14px;
    font-weight: 300 !important;
}
.accept-btn{
    background-color: #63AF31;
    color: white;
}
.accept-btn:hover{
    background-color: transparent;
    color: #63AF31;
    border: 1px solid #63AF31;
}
.cancel-btn{
    background: rgba(247, 52, 72, 0.25);
border: 1px solid #E8505B;
border-radius: 8px;
color: #E8505B;
}
.cancel-btn:hover{
    background-color: transparent;
    border: 1px solid  #E8505B;
    color: #E8505B;
}
.brands-accept-agreement .form-control{
    box-shadow: none !important;
}
.accept-agreement{
    background-color: white;
    box-shadow: 0px 2px 6px rgba(185, 185, 185, 0.18);
border-radius: 8px;
}
/* popup */
.add-ques-popup .popup{
    padding: 30px;

}
.add-ques-popup textarea{
    background-color: #FAFAFA;
}
.add-ques-popup .remove-ques{
    color: #FB003E !important;

}




/* edit-profile */
.edit-profile-brands{
    height: 40vh;
    border-radius: 12px;

    color: white;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    display: grid;
    align-items: end;
    padding: 20px;

}

.edit-profile-pic-brands{
    background: #FFFFFF;
opacity: 0.6;
box-shadow: 0px 3px 8px rgba(216, 216, 216, 0.22);
border-radius: 14px;
padding: 20px;

}
.edit-profile-brands label{
    color: #C3C3C3;
    font-size: 18px;
    font-weight: 400;
    padding-bottom: 10px;
}


/* brands-profile */
.profile-cover-brands{
    height: 40vh;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    border-radius: 12px;
}
.brands-posted-jobs-card{
    background-color: white;
    border-radius: 8px;
    box-shadow: 0px 3px 8px rgba(216, 216, 216, 0.22);
    padding: 10px;
}

.brands-posted-jobs-card:hover{
    border: 1px solid #63AF31;

}
.job-price{
    font-weight: 500;
    font-size: 16px;
    color: black;
}
.job-status-pending{
    font-weight: 400;
    font-size: 16px;
    color: #EB996E;
}
.job-status-complete{
    color: #63AF31;
    font-weight: 400;
    font-size: 16px;
}
.job-applicants{
    color: #000000;
}
.reviews-tab{
    background-color: white;
    border-radius: 8px;
    padding: 20px;
}
.reviews-tab title{
    font-size: 20px;
    font-weight: bold;
    color: black;


}
.brands-total-rating{
    font-size: 20px;
    font-weight: 500;
    color: #9D9D9D !important;
}
.rating-box{
    background-color: #FCFCFC;
    border-radius: 8px;
    border: 1px solid #63AF31;
    padding: 15px;
}
.rating-box p{
    color: #C9C9C9;
}
.rating-box .row{
display: flex;
align-items: center;
padding-bottom: 10px;
}
/* manage-profile-upload-content */
.upload-project-img{
    height: 30vh;
    display: grid;
    align-items: center;
    justify-content: center;
    background-color: #F4F4F4;
    border-radius: 8px;
    box-shadow: 0px 2px 6px rgba(185, 185, 185, 0.18);
    margin-top: 20px;

}
/* add-payment */
#add-payment input{
    background-color: #F4F4F4;
}
#add-payment .btn-secondary{

background: #FAFAFA;
box-shadow: 0px 3px 8px rgba(216, 216, 216, 0.18);
border-radius: 8px;
color: #C3C3C3;
margin-right: 15px;
}
#add-payment .btn-check:checked+.btn{
    background: #63AF31 !important;
box-shadow: 0px 3px 8px rgba(216, 216, 216, 0.18) !important;
border-radius: 8px;
color: white !important;
}

/* view-details */
#advance-filter .popup{
    width: 70%;
}
#advance-filter label{
    padding-top: 15px;
    padding-bottom: 15px;
}
#advance-filter input{
    background: #F5F5F5;
box-shadow: 0px 2px 6px rgba(185, 185, 185, 0.18);
border-radius: 8px;
}
#advance-filter select{
    background: #F5F5F5;
box-shadow: 0px 2px 6px rgba(185, 185, 185, 0.18);
border-radius: 8px;
}
/* chat */
.chat-names-col{
    background-color: white;
    height: 70vh;

    overflow-y: scroll;

}
.chat-person-name{
    color: #2E3867 !important;
}
.chat .nav-pills .nav-link.active{
    background-color: white;
    border: 1px solid #63AF31;
}
.chat .nav-pills .nav-link {
    background: #F9F9F9;
box-shadow: 0px 2px 6px rgba(185, 185, 185, 0.18);
}
.chat-box{
    background-color: white;
    height: 70vh;
    position: relative;


}
.mesages-container{
overflow-y: scroll;
height: 50vh;
}
.chat-head{
    background-color: #F0F0F0;
    padding: 15px;
    box-shadow: 0px 2px 6px rgba(185, 185, 185, 0.18);
border-radius: 8px;
margin-bottom: 20px;
}
.chat-box input{
    box-shadow: none;
}
.send-input{
    background: #FFFFFF;
box-shadow: 0px 2px 6px rgba(185, 185, 185, 0.18);
border-radius: 8px;
position: absolute;
bottom: 0;
width: -webkit-fill-available;
margin-bottom: 30px;
border: 1px solid #F0F0F0;

}
.chat-card .chat-card-body .chat-card-actions {
    display: inline-block;
    width: 30px;
    height: 30px;
    text-align: center;
    border-radius: 50%;
    position: absolute;
    z-index: 10;
    right: 4%;
    top: 20%;
    color: white;
}
.chat-card .chat-card-body.has-card-actions {
    position: relative;
    padding-right: 1rem !important;
}


.chat2-card .chat2-card-body .chat2-card-actions {
    display: inline-block;
    width: 30px;
    height: 30px;
    text-align: center;
    border-radius: 50%;
    position: absolute;
    z-index: 10;
    right: auto;
    top: 20%;
}
.chat2-card .chat2-card-body.has-card-actions {
    position: relative;
    padding-right: 1rem !important;
}

.chat-box .accordion-button{
    padding: 10px !important;
}
.chat-box .accordion-button:focus{
   outline: none !important;
   box-shadow: none !important;
}
.chat-box .accordion-button::after{
    display: none !important;
}
.chat-box .accordion-button:not(.collapsed) {

    background-color:white !important;
    box-shadow: none !important;
    border: 1px solid #63AF31 !important;
    border-radius: 8px !important;
}
.chat-box .accordion-button{
    background-color: #F9F9F9;
    box-shadow: 0px 2px 6px rgba(185, 185, 185, 0.18);
}
.accordion-item{
    border: none !important;
    border-radius: 0 !important;
}

/* athletes view profile */
.social-box{
    border: 1px solid #EBEBEB;
    border-radius: 8px;
    padding: 5px;
    margin-bottom: 10px;
}

.social-media-statistics .social-reviews-row{
    background-color: white;
    border-radius: 8px ;
    padding: 20px 15px;
}
.review-social-box {
    border: 1px solid #EBEBEB;
    border-radius: 8px;
    width:50%;
    margin-right: 5px;
    margin-left: 5px;
    padding: 10px;
}
.review-social-box img{
    margin-top: -30px;
    background-color: white;
}
.review-social-box a{
    color: #3F89DF;
}
.social-count{
    color: #63AF31;
    margin-bottom: 0;
}
.social-media-statistics-profile{
    background-color: white;
    margin-top: 20px !important;
    padding: 20px 15px;
    border-radius: 8px;
}


/* athletes-manage-profile */
.progress-bar{
    background-color: #63AF31 !important;
}
.sponserpro-link{
    background: rgba(255, 76, 0, 0.25);
border: 1px solid #FF4C00;
border-radius: 8px;
color: #FF4C00;
padding: 8px;
}
.sponserpro-link:hover{
    background: transparent;
    color: #FF4C00;
}
.social-media-statistics-col{
    border: 1px solid #EBEBEB;
    border-radius: 8px;
    margin-top: 20px;
    margin-bottom: 25px;


}
.social-media-statistics-col img{
    background-color: white;
    margin-top: -30px;
}
.social-media-statistics-col a{
    color: #3F89DF;
}
.interest-col {
    background-color: white;
    border-radius: 8px;
    padding: 20px;
}
.industries-col{
    background-color: white;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
}
.industry-brands-select{
    background-color: #FAFAFA;
    border-radius: 8px;

}
.about-tab{
    background-color: white;
    border-radius: 8px;
}
.border-grey{
    border: 2px solid #ECECEC;
border-radius: 8px;
}
.add-link-box{
    background-color: white;
    border-radius: 8px;
    padding: 20px;
}
.apply-job-right-boxes{
    background-color:white;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 8px;
    box-shadow: 0px 2px 6px rgba(185, 185, 185, 0.18);
}
.apply-job-right-boxes a{
    font-weight: bold;
    padding-left: 10px;
}
/* disclose-job */
.cancel-btn{
    background-color: #FB003E;
    color: white;
    margin-top: 20px;
    font-size: 16px;
    font-weight: 500;
    display: flex;
    align-items: center;
    border-radius: 60px;
    max-width: 200px;
    width: 200px;
}
.cancel-btn:hover{
    border: 1px solid  #FB003E;
    color: #FB003E;

}


/* media-quries */
@media only screen and (max-width: 576px){
    .app-header .post-job-btn{
        display: none;
    }
    .sponser-tab .nav-item{
        width: 100%;
    }
    .sponser-tab .nav-item button{
        width: 100%;
    }
    .close-btn{

        margin-left: 0px;

    }

    .Continue-btn{

        margin-left: 0px;

    }
  


}
@media only screen and (max-width: 767px) {
    .app-wrapper{
       padding: 3%;
    }
    .popup{
        width:85%;
        padding: 20px;
    }
    .row{
        margin: 0;
    }
    .nav-item{
        margin-left: 0;
    }
    .review-social-box{
        width: 100%;
    }
     .Continue-btn{
        width: 100%;
        margin-left: 0;
    }
    .close-btn{
        width: 100%;
        margin-left: 0;
    }
}
@media only screen and (max-width: 991px) {
    .popup{
        width:90% !important;
    }
    .chat-box{
        height: auto !important;
    }
    .mesages-container{
        height: 70vh;
        overflow-y: scroll;
    }

}

@media only screen and (max-width: 1199px) {
    .app-wrapper{
        width: 100%;
    }
}
