/* hero-section */
.loader_wrap{
    position: fixed;
    background: white;
    height: 100vh;
    width: 100%;
    z-index: 11000000000 !important;
  }
  .loader {
    color: #63AF31;
    font-size: 90px;
    text-indent: -9999em;
    overflow: hidden;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    margin: 0 auto;
    position: relative;
    top:50%;
    -webkit-animation: load6 1.7s infinite ease, round 1.7s infinite ease;
    animation: load6 1.7s infinite ease, round 1.7s infinite ease;
  }
  @-webkit-keyframes load6 {
    0% {
      box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
    5%,
    95% {
      box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
    10%,
    59% {
      box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
    }
    20% {
      box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
    }
    38% {
      box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
    }
    100% {
      box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
  }
  @keyframes load6 {
    0% {
      box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
    5%,
    95% {
      box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
    10%,
    59% {
      box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
    }
    20% {
      box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
    }
    38% {
      box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
    }
    100% {
      box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
  }
  @-webkit-keyframes round {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @keyframes round {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  
.hero-header-bg{
    background-color: black;
    background-position: center;
    background-size: cover;
    height: 100vh;
}
.hero-section{
    top: 0;
   
   
    align-items: end;
    display: flex;
    height: 80vh;
   
}
.hero-section h2{
    color: #63AF31; 
    font-family: 'Smooch Sans', sans-serif;
    margin-bottom: 0;
    letter-spacing: 1px;

}
.hero-section h2 span{
  font-family: 'Smooch Sans', sans-serif;
  color: white;
}
.hero-section h1{
    color: white;
}
.hero-section p{
    color: white;
    padding-bottom: 25px;
    font-size: 22px;
    
}
.hero-section .btn{
    padding: 10px;
}
/* learn-sec */
.learn-sec{
    background: rgba(186, 255, 140, 0.08);
}
.learn-sec h4{
    color: #63AF31;
    font-weight: 600 !important;
    font-size: 20px !important;
}
.learn-sec .btn{
    color: #63AF31;
    font-size: 18px;
}
.learn-img{
    width: 60%;
}
/* solution-for-everyone */
.accor-sec p{
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 5px;
}


.accordion-button:not(.collapsed){
    background-color: #F4F4F4 !important;
    color: #63AF31 !important;
    
}
.accordion-item{
    border: none !important;
    background-color: #F4F4F4 !important;
   
}
.accordion-button{
    background-color: #F4F4F4 !important;
    font-weight: 700 !important;
}

/* carousel-sec */
.carosel-sec{
    background: rgba(186, 255, 140, 0.08);
}
.carosel-sec p{
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 5px;
}

.carousel-indicators [data-bs-target]{
    background-color: #63AF31 !important;
    width:15px !important;
    height: 15px !important;
    border-radius: 10px !important;
}
.proud-heading {
    display: inline-block;
    position: relative;

}


.proud-heading::after {
    content: '';
    width: 15%;
    height: 4px;
    position: absolute;
    background:#63AF31;
    bottom: 0;
    left: calc(15% - 14%);
}
.carosel-sec h6{
    font-size: 24px !important;
    font-weight: 600 !important;
}
.carosel-sec p strong{
    color: black;
}
/* download-app */
.download-app{
   
    background-size: cover;
    background-position: center;
    
}
.download-app h6{
    color: #63AF31;
    font-size: 20px;
    font-weight: 600;
}
.download-app h2{
    color: white;
    padding-left: 10%;
    padding-right: 10%;
}



/* about-us page */
.resource-hub-card{
  padding: 5px;
  background: #FFFFFF;
  box-shadow: 0px 4px 8px rgba(208, 208, 208, 0.25);
  border-radius: 16px;
}

.resource-hub-card:hover{
border: 1px solid #63AF31;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 3px 2px 16px rgba(174, 174, 174, 0.25);
}
.resource-hub-card .date{
  color: #B7B4B4;
  font-size: 16px;
}
.resource-hub-card .title{
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  text-transform: capitalize;
  
  color: #63AF31;
  
  text-shadow: 2px 2px 4px #C7C7C7;
}
.resource-hub-card .description{
  color: #565656;
  font-size: 18px;
  font-weight: 400;
}
.resource-hub-card .btn{
  margin-top:15px;
  margin-bottom:15px;
border: 1px solid #63AF31;
color: #63AF31;
filter: drop-shadow(0px 3px 6px rgba(81, 204, 0, 0.25));
border-radius: 60px;
}
.resource-hub-card .btn:hover{
  color: white;
   background-color: #63AF31;
   border: 1px solid #63AF31;
  }
/* how-it-works */
.how-it-works-cards-bg{
 display: flex;
 justify-content: center;
  background-repeat: no-repeat;
  padding: 40px;
}
.how-it-works-cards{
  background-color: white;
  border-radius: 10px;
  padding: 30px 20px;
  height: 350px;
  border: 1px solid #63AF31;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.06);
}
.how-it-works-cards h6{
  color: #8C8C8C;
  font-size: 24px;
  font-weight: 700;
}
.how-it-works-cards p{
  font-family: 'Montserrat';
font-weight: 400;
font-size: 18px;
color: #242424;
line-height: 23px;

}
.how-it-works-img-text-col{
background-repeat: no-repeat;
background-position: left top;

}
.how-it-works-img-text-col h2{
  font-size: 32px !important;
  text-shadow: 2px 2px 4px #C7C7C7;
}
.how-it-works-img-text-col p{
  
font-family: 'Montserrat';
font-weight: 400;
font-size: 18px;
line-height: 23px;
color: #242424;
}
